body {
  position: relative;
  margin: 0;
  background-color: #EFF7FA;
}

body canvas, #overlay {
  position: absolute;
}

img {
  width: calc(100px + 5vw);
  float: left;
}

@font-face {
  font-family: 'animosa-bold';
  src: url('./Animosa-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'animosa-medium';
  src: url('./Animosa-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'lucidia';
  src: url('./Lucida\ Grande\ Regular.ttf') format('truetype');
}

#name {
  font-family: 'animosa-bold';
  font-size: calc(35px + 5vw);
  padding-left: 5%;
  line-height: 100%;
  margin-bottom:0;
  margin-top: calc(25px + 3vw);
  color: #FF4E50;
}

.alohomora {
  font-family: 'animosa-medium';
  font-size: calc(20px + 1vw);
  color: #5A5A5A;
  line-height: 140%;
}

#body-text {
  font-size: calc(20px + 1vw);
  padding-left: 5%;
  line-height: 120%;
  margin-bottom: 0;
  color: #FFFFFF;
}

#body-text {
  padding-left: 5%;
  line-height: 120%;
  margin-bottom: 0;
}

.adj-content {
  overflow: hidden;
  padding-left: 2%;
}

.header1 {
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 0;
  color: #FF4E50;
  font-size: calc(15px + 0.3vw);
}

.header2 {
  font-size: calc(12px + 0.2vw);
  margin-top: 3px;
  line-height: 120%;
  color: #555555;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  padding: 0px;
  transition: max-height 500ms;
  transition: padding 100ms;
}
.hidden.active {
  font-family: 'lucidia';
  max-height: 10000px;
  overflow: hidden;
  padding: calc(10px + 0.5vw);
  transition: max-height padding 500ms;
  transition: padding 100ms;
}

#research {
  font-size: 15px !important;
}

div[name=content] {
  background-color: #ffffff;
  color: #222222;
  width: calc(150px + 40vw);
  line-height: 120%;
  font-size: calc(15px + 0.3vw);
}

#wormhead {
  color: #FF4E50;
}

#wormbody1 {
  color: #FC913A;
}

#wormbody2 {
  color: #F9D423;
}

#wormbody3 {
  color: #EDE574;
}

#wormtail {
  color: #FF4E50;
}